<%- include('header') %>

<div style="overflow-x: auto">
  <table style="margin: 24px 0 0 0" class="table table-dark table-striped">
    <thead>
      <th scope="col">No.</th>
      <th scope="col">Gender</th>
      <th scope="col">Hobbies</th>
      <th scope="col">How often do you practise hobbies</th>
      <th scope="col">Physical health</th>
      <th scope="col">Mental health</th>
      <th scope="col">Amount of excercise</th>
      <th scope="col">Motivation/Demotivation</th>
      <th scope="col">Balanced Diet</th>
      <th scope="col">How long do you excercise</th>
      <th scope="col">Impacts of low excercise</th>
      <th scope="col">Enjoy's physical activities</th>
      <th scope="col">Delete</th>
    </thead>
    <tbody>
      <% data.forEach((doc, num) => { %>
      <tr>
        <td><%= num + 1 %></td>
        <td>
          <% if (doc.response['gender'] === 'Male') { %>
          <span class="material-icons" style="color: #4eb39e">male</span>
          <% } else if (doc.response['gender'] === 'Female') { %>
          <span class="material-icons" style="color: #e73c75">female</span>
          <% } else { %>
          <span class="material-icons" style="color: #32e62c">no_accounts</span>
          <% } %>
        </td>
        <td><%= doc.response['hobbies'] %></td>
        <td><%= doc.response['howoften'] %></td>
        <td><%= doc.response['physicalH'] %></td>
        <td><%= doc.response['mentalH'] %></td>
        <td><%= doc.response['amontOfEx'] %></td>
        <td><%= doc.response['motivation'] %></td>
        <td><%= doc.response['boolean-balanced'] %></td>
        <td><%= doc.response['howLong?'] %></td>
        <td><%= doc.response['Uaware?'] %></td>
        <td><%= doc.response['doULike'] %></td>
        <td>
          <a href="/delete/<%= doc._id %>"
            ><span class="material-icons" style="color: #e73c75"
              >delete</span
            ></a
          >
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('footer') %>
